<div class="com-aboutus">
	<div class="aboutus-bd">
		<p>三年前，人民银行会同银监会、证监会、保监会研究制定《中国金融教育国家战略》，并提交G20，呼吁将金融普及教育上升至国家战略层面。去年，国办81号明确指出，要建立金融知识普及长效机制。金融管理部门、金融机构、相关社会组织要加强研究，综合运用多种方式，推动金融消费者宣传教育工作深入开展。教育部要将金融知识普及教育纳入国民教育体系，切实提高国民金融素养。</p>
		<p>在教育领域，教育部2014教基［4］号文件已明确提出研究各学段学生发展核心素养体系，明确学生应具备的适应终身发展和社会发展需要的必备品格和关键能力。这一文件明确指出了培养核心素养是我国基础教育改革的方向。而美国等发达国家的研究和实践表明，财经素养是对个人、家庭和社会最具生存和发展意义的核心能力。</p>
		<p>在这一时代形势下，中国财经素养教育高峰论坛将围绕“财经素养教育是发展核心素养体系的关键构成”这一主题，探讨和分享财经素养教育的理论和实践，启迪教育创新思维，探寻在中国开展金融教育的成功路径，创建金融教育的资源汇聚平台。</p>
	</div>
</div>