<div class="com-banner">
	<!-- <img class="banner" src="/images/banner.png" alt="banner"> -->
	<div class="info">
		<div class="time-spot clearfix">
			<p><strong>论坛时间：</strong>2016年9月24日（周六）9:00-17:30&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;			<strong>论坛地点：</strong>北京师范大学英东学术会堂演讲厅</p>
		</div>
		<div class="owner clearfix">
			<li>指导单位：中国银监会公众教育服务中心</li>
			<li>主办方：北京师范大学经济与工商管理学院</li>
			<li>承办方：北师大财经素养教育研究中心</li>
			<li>协办方： 中国金融教育发展基金会、VISA中国</li>
		</div>
	</div>
</div>