<div class="com-agenda" id="agenda">
	<div class="agenda-hd clearfix">
		<h5 class="hd_title">论坛议程</h5>
	</div>
	<div class="agenda-bd">
		<table class="table">
			<tbody>
				<tr>
					<td>08:30–09:00</td>
					<td><strong>嘉宾签到入场</strong></td>
				</tr>
				<tr>
					<td>09:00–09:10</td>
					<td><strong>领导致欢迎辞：</strong>
						<li>陈&nbsp;丽  北京师范大学副校长</li>
						<li>赖德胜  北京师范大学经济与工商管理学院院长</li>
					</td>
				</tr>
				<tr>
					<td>09:10–10:40</td>
					<td><strong>主题发言：财经素养教育与核心素养培养</strong>
						<li><strong>主题：</strong>推进公众教育，提高全民金融素质</br>
							<strong>嘉宾：</strong>张永军  银监会消费者权益保护局副局长,银监会公众教育服务中心负责人</li>
						<li><strong>主题：</strong>核心素养体系的解读和影响<br/>
							<strong>嘉宾：</strong>林崇德  北京师范大学教授，《中国学生发展核心素养》课题负责人</li>
						<li><strong>主题：</strong>从公众视角看财经素养教育对社会发展的影响</br>
							<strong>嘉宾：</strong>苏琦  《财经》杂志副主编</li>
					</td>
				</tr>
				<tr>
					<td>10:40–10:50</td>
					<td><strong>北师大财经素养教育研究中心成立揭牌仪式及普及计划发布</strong>
						<p>（北师大财经素养教育研究中心）</p>
					</td>
				</tr>
				<tr>
					<td>10:50–11:10</td>
					<td><strong>合影、茶歇</strong>
					</td>
				</tr>
				<tr>
					<td>11:10–12:10</td>
					<td><strong>分论坛一：财经素养教育研究前沿和国际经验</strong>
						<li><strong>主题：</strong>全球视角下金融教育的重要性和挑战</br>
							<strong>嘉宾：</strong>邵长毅 世界银行金融专家</li>
						<li><strong>主题：</strong>国际财经素养教育的最新进展</br>
							<strong>嘉宾：</strong>Hope Ewing  VISA亚太区金融教育负责人</li>
						<li><strong>主题：</strong>金融市场研究前沿及金融教育的重要性<br/>
							<strong>嘉宾：</strong>钟伟  北京师范大学经济与工商管理学院金融研究中心主任，教授</li>
					</td>
				</tr>
				<tr>
					<td>12:10–13:30</td>
					<td><strong>午餐、休息</strong>
					</td>
				</tr>
				<tr>
					<td>13:30–15:30</td>
					<td><strong>分论坛二：财经素养教育的中国实践</strong>
						<li><strong>主题：</strong>中国消费者金融教育的现状和问题</br>
							<strong>嘉宾：</strong>中国银监会公众教育服务中心 田新宽处长</li>
						<li><strong>主题：</strong>金惠工程-农村中学生金融教育案例分享</br>
							<strong>嘉宾：</strong>中国金融教育发展基金会 梁国桢副秘书长</li>
						<li><strong>主题：</strong>基于脑与认知科学的财经素养评估与监测标准<br/>
							<strong>嘉宾：</strong>薛贵  北京师范大学脑与科学研究中心主任</li>
						<li><strong>主题：</strong>行为经济学对财经素养教育中的启示<br/>
							<strong>嘉宾：</strong>张红川  中央财经大学经济心理研究所所长</li>
					</td>
				</tr>
				<tr>
					<td>15:30–15:50</td>
					<td><strong>茶歇</strong>
					</td>
				</tr>
				<tr>
					<td>15:50–16:50</td>
					<td><strong>财经素养教育探索分享：</strong>
						<li><strong>主题：</strong>校园财经素养教育的探索和实践<br/>
							<strong>嘉宾：</strong>朝阳区教委代表</li>
						<li><strong>主题：</strong>小学财经素养教育的必要性和实践<br />
							<strong>嘉宾：</strong>芦咏莉  实验二小校长</li>
						<li><strong>主题：</strong>财经素养教育经验分享<br />
							<strong>嘉宾：</strong>王东  VISA中国区企业传播部总监，金融教育负责人</li>
						<li><strong>主题：</strong>中国K12财经素养教育标准<br />
							<strong>嘉宾：</strong>苏凇  北京师范大学财经素养教育研究中心主任</li>
					</td>
				</tr>
				<tr>
					<td>16:50–17:30</td>
					<td><p><strong>圆桌论坛：中国财经素养教育的机遇和挑战</strong></p>
						<p>(海淀区教委、北大附小、财脑科技、金牛财经、宜信研究院)</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>