<div class="inner960">
	<h3 class="title">K12财经素养教育成果展示</h3>
	<img class="img" src="/images/publish.jpg">

	<h3 class="title">儿童财脑训练</h3>
	<img class="img" src="/images/child.jpg">>
	<%= render partial:"components/footer/index" %>
</div>
