<div class="com-financial" id="financial">
	<div class="financial-hd clearfix">
		<h5 class="hd_title">财经素养教育</h5>
	</div>
	<div class="financial-bd clearfix">
			<a href="/establish.html" class="content">
				<img src="/images/publish.jpg" alt="">
			</a>
			<a href="/plan.html" class="content">
				<img src="/images/plan.jpg" alt="">
			</a>
	</div>
</div>