<div class="com-financial" id="financial">
	<div class="financial-hd clearfix">
		<h5 class="hd_title">北师大财经素养教育研究中心成立揭牌仪式及普及计划发布</h5>
	</div>
	<div class="financial-bd clearfix">
		<div class="content">	
			<a href="/publish.html">
				<img src="/images/banner.png" alt="">
			</a>
		</div>
		<div class="content">	
			<a href="/publish.html">
				<img src="/images/banner.png" alt="">
			</a>
		</div>
	</div>
</div>