<div class="inner960">
	<h3 class="title">中国财经素养教育普及计划</h3>

	<p>为更好地服务社会，推动中国财经素养教育的普及和发展，北师大财经素养教育研究中心计划在未来四年内推进以下方面工作：</p>
	<div class="part"><p class="sub_title">一、提升财经素养教育影响</p>
		<p>中心将联合政府相关部门、国内外学术机构、金融机构与NGO组织，共同举办各类经验交流分享和推广活动，倡导财经素养教育的普及。具体如下：</p>
		<p>1、年会。计划每年举办“中国财经素养教育高峰论坛”一次；</p>
		<p>2、论坛。组织各类财经素养教育论坛、研讨活动年均三次；</p>
		<p>3、国际交流。组织和参加各种国际财经素养教育活动年均两次。</p>
	</div> 
	<div class="part"><p class="sub_title">二、推动财经素养教育能力建设</p>
		<p>中心将和教育管理部门、各类教育机构联动，通过提供校长、教师等财经素养师资培训，推动K12和高校范围内建立金融教育长效机制。针对不同年龄段学生，推动在全国校园内开设财经素养基础公共课、选修课、专题讲座、在线测试、项目实践等教育内容。力争通过与各级教育管理部门、教育机构的共同努力，使财经素养教育至2020年能进入1000所学校， 培训1000名学校校长，2000名教师。</p>
	</div>

	<div class="part"><p class="sub_title">三、扩大财经素养教育覆盖</p>
		<p>中心将通过开发线上及线下金融培训及教育课程，覆盖K-12的幼儿及青少年、大学生和其他成人群体，除了提供贯穿整个学生阶段（幼儿园、小学、初中、高中、大学）的课程外，还将针对特定的群体，如农民、外来务工人员、运动员、留守家庭、少数民族家庭等，开发定制化课程，以课堂、活动、讲座等形式普及财经素养基础知识，帮助其养成理性决策的行为模式。计划至2020年，财经素养教育直接覆盖1000万各类人群。</p>
	</div>
	<div class="part"><p class="sub_title">四、深化财经素养教育研究</p>
		<p>中心将组织专业团队，针对财经素养教育的相关问题展开系列的、持续性调研活动，如农村家庭储蓄行为调研，青少年消费支出情况调研，运动员金融教育调研等，拟发布财经素养与核心素养蓝皮书、中国青少年财经素养教育蓝皮书等。此外，中心还将联合相关领域的专家学者，针对具体的问题和现象开展深入的学术研究，丰富该领域的理论积累，提高财经素养教育的学术影响力。</p>
	</div>
	<div class="part"><p class="sub_title">五、构建财经素养教育精品发布平台</p>
		<p>中心将联合各类金融教育权威研究机构，发布系列财经素养教育课程标准，课程学习教材、教案和课件，编著财经素养教育相关书籍等，让广大国民能理解并接受财经素养教育，普及金融知识，践行普惠金融教育的理念，提升国民财经素养水平。计划至2020年年均发布财经素养教育精选产品10个。</p>
	</div>
	<div class="part"><p class="sub_title">六、打造财经素养教育和学习生态系统</p>
			<p>中心将作为“学术支持单位”，加入Visa中国发起的“中国金融教育合作伙伴计划”，共同建设该计划，推动财经素养教育的产学研结合，促进跨领域的合作和融合，打造财经素养教育和学习生态系统，推动中国财经素养教育的发展，计划至2020年加入该计划的合作伙伴达到100家。</p>
	</div>
	<%= render partial:"components/footer/index" %>
</div>