<div class="com-guest" id="guest">
	<div class="guest-hd clearfix">
		<h5 class="hd_title">演讲嘉宾</h5>
	</div>
	<div class="guest-bd">
		<div class="clearfix">
		<li class="item">
			<div class="wrapper"><img src="/images/张永军.jpg" class="avatar" alt=""></div>
			<p class="addresser"><span class="name">张永军</span>   银监会消费者权益保护局副局长,银监会公众教育服务中心负责人</p>
			<p class="subject">演讲主题：推进公众教育，提高全民金融素质</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/林崇德.jpg" class="avatar" alt=""></div>
			
			<p class="addresser"><span class="name">林崇德</span> 北京师范大学教授，《中国学生发展核心素养》课题负责人</p>
			<p class="subject">演讲主题：核心素养体系的解读和影响</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/苏琦.png" class="avatar spe" alt=""></div>
			
			<p class="addresser"><span class="name">苏琦</span>  《财经》杂志副主编</p>
			<p class="subject">演讲主题：从公众视角看财经素养教育对社会发展的影响</p>
		</li>
	</div>
	<div class="clearfix">
		<li class="item">
			<div class="wrapper"><img src="/images/邵长毅.jpg" class="avatar spe" alt=""></div>
			
			<p class="addresser"><span class="name">邵长毅</span>  世界银行金融专家</p>
			<p class="subject">演讲主题：全球视角下金融教育的重要性和挑战</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/Hope Ewing.jpg" class="avatar" alt=""></div>
			
			<p class="addresser"><span class="name">Hope Ewing</span>  VISA亚太区金融教育负责人</p>
			<p class="subject">演讲主题：国际财经素养教育的最新进展</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/钟伟.jpg" class="avatar" alt=""></div>
			
			<p class="addresser"><span class="name">钟伟</span>  北京师范大学经济与工商管理学院金融研究中心主任，教授</p>
			<p class="subject">演讲主题：金融市场研究前沿及金融教育的重要性</p>
		</li>
	</div>
	<div class="clearfix">
		<li class="item">
			<div class="wrapper"><img src="/images/田新宽.jpg" class="avatar" alt=""></div>
			
			<p class="addresser"><span class="name">田新宽</span> 中国银监会公众教育服务中心处长</p>
			<p class="subject">演讲主题：中国消费者金融教育的现状和问题</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/梁国祯.jpg" class="avatar spe" alt=""></div>
			
			<p class="addresser"><span class="name">梁国桢</span>  中国金融教育发展基金会副秘书长</p>
			<p class="subject">演讲主题：金惠工程-农村中学生金融教育案例分享</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/薛贵.jpg" class="avatar" alt=""></div>
			
			<p class="addresser"><span class="name">薛贵</span>  北京师范大学脑与科学研究中心主任</p>
			<p class="subject">演讲主题：基于脑与认知科学的财经素养评估与监测标准</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/张红川.png" class="avatar spe" alt=""></div>
			
			<p class="addresser"><span class="name">张红川</span>  中央财经大学经济心理研究所所长</p>
			<p class="subject">演讲主题：行为经济学对财经素养教育中的启示</p>
		</li>
	</div>
<!-- 		<li class="item">
			<div class="wrapper"><img src="/images/null.png" class="avatar" alt=""></div>
			
			<p class="addresser">真爱梦想基金</p>
			<p class="subject">演讲主题：财经素养教育实践案例分享</p>
		</li> -->
	<div class="clearfix">
		<li class="item">
			<div class="wrapper"><img src="/images/芦咏莉.png" class="avatar" alt=""></div>
			<p class="addresser"><span class="name">芦咏莉</span>  实验二小校长</p>
			<p class="subject">演讲主题：小学财经素养教育的必要性和实践</p>
		</li>		
		<li class="item">
			<div class="wrapper"><img src="/images/王东.jpg" class="avatar" alt=""></div>
			<p class="addresser"><span class="name">王东</span>  VISA中国区企业传播部总监，金融教育负责人</p>
			<p class="subject">演讲主题：财经素养教育经验分享</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/苏凇.jpg" class="avatar" alt=""></div>
			
			<p class="addresser"><span class="name">苏凇</span>  北京师范大学财经素养教育研究中心主任</p>
			<p class="subject">演讲主题：中国K12财经素养教育标准</p>
		</li>
	</div>
	</div>
</div>