<div class="com-guest" id="guest">
	<div class="guest-hd clearfix">
		<h5 class="hd_title">演讲嘉宾</h5>
	</div>
	<div class="guest-bd clearfix">
		<li class="item">
			<div class="wrapper"><img src="/images/zjp.png" class="avatar" alt=""></div>
			<p class="subject">推进公众教育，提高全民金融素质</p>
			<p class="addresser">赵江平  银监会消费者权益保护局局长</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/sjl.png" class="avatar" alt=""></div>
			<p class="subject">发展核心素养体系：政策解读和意义</p>
			<p class="addresser">申继亮  教育部基教二司副司长</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/lcd.png" class="avatar" alt=""></div>
			<p class="subject">核心素养体系的解读和影响</p>
			<p class="addresser">林崇德  北京师范大学教授</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/cm.png" class="avatar" alt=""></div>
			<p class="subject">全球财经素养教育发展现状和挑战</p>
			<p class="addresser">Chiara Monticone  OECD财经素养专家</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/he.png" class="avatar" alt=""></div>
			<p class="subject">国际财经素养教育的最新进展</p>
			<p class="addresser">Hope Ewing  VISA亚太区金融教育负责人</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/zw.png" class="avatar" alt=""></div>
			<p class="subject">金融市场研究前沿及金融教育的重要性</p>
			<p class="addresser">钟伟  北京师范大学经济与工商管理学院金融研究中心主任，教授</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/null.png" class="avatar" alt=""></div>
			<p class="subject">中国消费者金融教育的现状和问题</p>
			<p class="addresser">中国银监会公众教育服务中心</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/null.png" class="avatar" alt=""></div>
			<p class="subject">金惠工程-农村中学生金融教育案例分享</p>
			<p class="addresser">梁国桢  中国金融教育发展基金会副秘书长</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/xg.png" class="avatar" alt=""></div>
			<p class="subject">基于脑与认知科学的财经素养评估与监测标准</p>
			<p class="addresser">薛贵  北京师范大学脑与科学研究中心主任</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/zhc.png" class="avatar" alt=""></div>
			<p class="subject">行为经济学对财经素养教育中的启示</p>
			<p class="addresser">张红川  中央财经大学经济心理研究所所长</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/null.png" class="avatar" alt=""></div>
			<p class="subject">财经素养教育实践案例分享</p>
			<p class="addresser">真爱梦想基金</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/lxg.png" class="avatar" alt=""></div>
			<p class="subject">中学校园财经素养教育的实践</p>
			<p class="addresser">李希贵  十一学校校长</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/lyl.png" class="avatar" alt=""></div>
			<p class="subject">小学财经素养教育的必要性和实践</p>
			<p class="addresser">芦咏莉  实验二小校长</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/wd.png" class="avatar" alt=""></div>
			<p class="subject">财经素养教育经验分享</p>
			<p class="addresser">王东  VISA中国区企业传播部总监，金融教育负责人</p>
		</li>
		<li class="item">
			<div class="wrapper"><img src="/images/ss.png" class="avatar" alt=""></div>
			<p class="subject">中国K12财经素养教育标准</p>
			<p class="addresser">苏凇  北京师范大学财经素养教育研究中心主任</p>
		</li>

	</div>
</div>